{% extends "base.html" %}
{% block title %}
About
{% endblock %}
{% block body %}

<div class="" id="loginModal" style="margin: auto;max-width:800px">
    <div class="well">
        <h3>关于：</h3>
        <p>
            百度贴吧签到辅助应用,支持手动添加贴吧,每天自动获取你喜欢的贴吧列表,免去手动添加的麻烦.支持立即签到,定时签到(时刻目前仅支持00:00).
        </p>
        <h3>使用：</h3>
        <p>
            登陆后在设置页面添加贴吧的Cookie.
            <a href="http://algu.me" target="blank" title="how to find Cookie">帮助</a>
            <br>
            Cookie代表你百度贴吧的标识,如果你觉得提交Cookie无法忍受的话,可以自己搭建服务端．
            <a href="http://algu.me" target="blank" title="how to server yourself on BAE.">参考</a>
        </p>
        <h3>项目地址：</h3>
        <p>
            GitHub:<a href="https://github/junfeng7/sign-all-tiebas" target="blank">https://github/junfeng7/sign-all-tiebas</a>
        </p>
    </div>
</div>
{% endblock %}
{% block script %}
{% endblock %}
