{% extends "base.html" %}
{% block title %}
Admin
{% endblock %}
{% block body %}



<div class="btn-toolbar">
    <button class="btn" id="selectAll">Select All</button>
    <button class="btn" id="deleteSelected">Delete Selected</button>
</div>



<div class="well">
    <table class="table" id="usersTable">
      <thead>
        <tr>
          <th>#</th>
          <th>Email</th>
          <th>Name</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
    {% if users %}
    <tbody>
    {% for user in users %}
    <tr>
        <td><input type="checkbox" name="user" value={{ user['id'] }}></td>
        <td>{{ user['email'] }}</td>
        <td>{{ user['name'] }}</td>
        <td>
            <a href="#delete" name="{{ user['id'] }}" class="userA" title="delete" id="deleteOne" style="color:black;">
                  <i class="glyphicon glyphicon-remove"></i></a>
        </td>
        </tr>
        {% endfor %}
      </tbody>
    {% endif %}
    </table>
</div>    
{% endblock %}

{% block script %}
<script src="{{ url_for('static',filename='admin.js') }}"></script>
{% endblock %}
