{% extends "base.html" %}
{% block title %}
Index
{% endblock %}
{% block body %}


<div class="btn-toolbar">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add tieba</button>
    <button class="btn" id="selectAll">Select All</button>
    <button class="btn" id="deleteSelected">Delete Selected</button>
    <button class="btn" id="signAll">Sign All</button>
</div>



<div class="well">
    <table class="table" id="contents">
      <thead>
        <tr>
          <th>#</th>
          <th>Tieba Name</th>
          <th>Last Sign Time</th>
          <th>Last Sign Info</th>
          <th>Status</th>
          <th style="width: 36px;"></th>
        </tr>
      </thead>
      <tbody>
    {% if tiebas %}
      {% for t in tiebas %}
        <tr>
            <td><input type="checkbox" name="tieba" value={{ t['tieba'] }}></td>
            <td>{{ t['tieba'] }}</td>
            {% if t['message'] %}
            {% set meg=t['message'] %}


            {% if meg['no']==0 and not meg['error'] %}
            {% set uinfo=meg['data']['uinfo'] %}
            <td>{{ uinfo['sign_time']|strftime }}<input type="hidden" name="sign_time" value="{{ uinfo['sign_time'] }}"></td>
            <td>连续签到：{{ uinfo['cont_sign_num'] }}天,总签到：{{ uinfo['cout_total_sing_num'] }}天,当前第:{{ uinfo['user_sign_rank'] }}个签到</td>
            <td><div class="form-group has-success">
                    <label class="control-label">
                        successfully signed
                    </label>
                </div></td>
            {% else %}
            <td>{% if meg['no']!=4 %}{{ 0|strftime('%Y-%m-%d') }}<input type="hidden" name="sign_time" value="0">{% else %}Unknown last sign time{% endif %}</td>
            <td>{{ meg['error'] }}</td>
            <td><div class="form-group has-error">
                    <label class="control-label">
                        {% if meg['no']==1101 %}repeat sign today.{% elif meg['no']==1010 %}No this name tieba {% elif meg['no']==4 %}<a href="/settings" title="please modify your cookie.">Cookie Invalid</a> {% else %}Unknown error{% endif %}
                    </label>
                </div></td>
            {% endif %}


            {% else %}
            <td>Not sign yet</td>
            <td>Not sign yet</td>
            <td><div class="form-group has-info">
                    <label class="control-label">
                        Please sign right mow
                        </label>
                        </div></td>
            {% endif %}
          <td>
              <a href="#delete" name="tiebaToDelete" title="delete {{t['tieba']}}吧" id="deleteOne" style="color:black;">
                  <i class="glyphicon glyphicon-remove"></i></a>
          </td>
        </tr>
        {% endfor %}
    {% endif %}
      </tbody>
    </table>
</div>

<!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Add</h4>
        </div>
        <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Tieba Name</button>
                    </span>
                    <input type="text" name="tiebas" id="tiebas" class="form-control">
                </div><!-- /input-group -->
                    <span class="help-block">use one space character to separate.</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="addTiebas">Submit</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}
{% block script %}
<script src="{{ url_for('static',filename='index.js') }}"></script>
{% endblock %}

